@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.nemo {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/orange-color-bg.png');
    font-family: "Roboto";
    color: #ffffff;
    padding: 20px;
}

.nemo-main-h {

    font-size: 25px;
    font-weight: bold;

}

.nemo-button {
    color: #ff8348;
    border-radius: 7px;
    font-size: 13px;
    margin-bottom: 10px;

}

.nemo-h-button {
    margin-top: 10px;
}

.nemo-p {
    font-size: 12px;


}

.nemo-sub-h {
    font-size: 18px;
}